{% extends 'administration/base.html' %}

{% block content %}
<br><br><br><br><br><br><br><br>

<!--Administration tools-->
<h2 class="text-center text-black mt-0">Bienvenue dans votre interface d'administration !</h2>
<br>
<section class="page-section">
    <div class="container px-4 px-lg-5">
        <h4 class="text-center mt-0">Ci-dessous, vous trouverez toutes les fonctionnalités offertes par votre système de gestion</h4>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#####">
                        <div class="mb-2"><i class="bi-table fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Entrées - Sorties</h3>
                    </a>
                    <p class="text-muted mb-0">Gestion de l'occupation des parcs. Consultation et administration des réservations</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#####">
                        <div class="mb-2"><i class="bi-journal-bookmark fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Fichier clients</h3>
                    </a>
                    <p class="text-muted mb-0">Consultation et gestion des fiches clients</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#####">
                        <div class="mb-2"><i class="bi-graph-up fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Statistiques</h3>
                    </a>
                    <p class="text-muted mb-0">Consultation des données statistiques de l'entreprise</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#####">
                        <div class="mb-2"><i class="bi-dash-circle-fill fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Gestion des parcs</h3>
                    </a>
                    <p class="text-muted mb-0">Gestion de la disponnibilité des parcs</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
