{% extends 'administration/base.html' %}

{% block content %}

<!--Connexion Form-->
<br><br><br><br><br>
{% include 'administration/messages.html' %}

<!-- userName-->
<section class="page-section bg-white" id="statut">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center text-dark mt-0">
        {% if user.is_authenticated %}
            {{ user.username }}
        {% else %}
            {{ "Vous n'êtes pas connecté" }}<br><br>
            <h6 class="text-center text-dark mt-0">Cet espace est réservé au personnel de la pension. Vous ne pourrez vous connecter que si vous disposez des droits nécessaires.</h4>
        {% endif %}
        </h2>
        </div>
</section>

<!--Mail, Username and Password-->
<form action="/connect_admin_space/" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="container my-2">
            {{ field }}
        </div>
    {% endfor %}
    {% if user.is_authenticated == False %}
        <div class="container my-5 align-items-center">
            <div class="text-center">
                <input type="submit" value="Me connecter" class="btn btn-primary col-md-4">
            </div>
        </div>
    {% endif %}
</form>

{% if user.is_authenticated %} 
    <div class="container my-5 align-items-center">
        <div class="text-center">
            <a href="/update_profile/"><button type="button" class="btn btn-primary col-md-4">Modifier mes informations</button></a>
        </div>
    </div>
    <div class="container my-5 align-items-center">
        <div class="text-center">
            <a href="/logout"><button type="button" class="btn btn-primary col-md-4">Me déconnecter</button></a>
        </div>
    </div>
{% endif %}

{% endblock %}
