{% extends 'administration/base.html' %}

{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Pension canine</h1>
                <img src="../static/administration/assets/img/portfolio/thumbnails/logo.png" alt="" width="200" height="200">
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Nous proposons de nombreuses solutions d'hébergement pour votre animal ! Vous pouvez dès maintenant vérifier les disponnibilités de nos parcs, en fonction de vos besoins.</p>
                <a class="btn btn-primary btn-xl" href="/consult_availability">Voir les disponnibilités</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Qui sommes-nous ?</h2>
                <hr class="divider divider-light"/>
                <p class="text-white-75 mb-4">
                    La pension, située à Saint-Lary dans le Gers, vous accueille tous les jours de l'année.
                    Pour 1 journée, 1 week-end ou pour des vacances.
                </p>
                <p class="text-white-75 mb-4">
                    Facile d'accès et située sur un site de 25 hectares, dont 13 entièrement clôturés, spécialement aménagés pour le confort et le bien être de nos animaux. Votre chien sera considéré selon ses besoins, et nous vous proposerons la formule la plus adaptée pour lui.
                    Soucieux du temps que nous voulons passer avec chacun, la pension restera à dimension familiale avec seulement 5 boxes extérieurs et deux en intérieur réservés aux plus petits ou bien les plus fragiles comme nos Papys-Mamies habitués en maison.
                </p>
                <p class="text-white-75 mb-4">
                    Des parcs individuels ombragés de 300 ou 150 m2 avec chalets pour les chiens habitués en extérieur.
                    Plusieurs terrains sont aménagés et clôturés sur lesquels ils pourront jouer et rencontrer des copains ou bien pratiquer chaque jour, des exercices 
                    (terrain agility, ou terrain découvertes et proprioception, ainsi qu'un grand terrain éducation si vous voulez profiter de son séjour pour qu'il puisse perfectionner ses connaissances).
                </p>
                <p class="text-white-75 mb-4">
                    Des promenades sont prévues chaque jour dans la campagne environnante, seul ou à plusieurs si les affinités le permettent.
                    Nous disposons également d'un salon de toilettage sur place.
                    Nous restons à votre disposition pour tout renseignement !
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Nos services</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-house-door-fill fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Parcs extérieurs et intérieurs</h3>
                    <p class="text-muted mb-0">Nous proposons différentes solutions d'hébergement, adaptées à la taille et besoins de votre animal</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart-fill fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Administration de soins</h3>
                    <p class="text-muted mb-0">Si l'état de santé de votre animal le recquiert, nous pouvons lui administrer des soins particuliers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-tree-fill fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Sorties quotidiennes</h3>
                    <p class="text-muted mb-0">Nous disposons d'un grand domaine privé, dans lequel votre animal pourra être promené en toute sécurité</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-receipt fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Service flexible</h3>
                    <p class="text-muted mb-0">Nous proposons un certain nombre d'options disponnibles sur demande, telles que le chauffage, des leçons d'éducation etc...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/administration/assets/img/portfolio/fullsize/park_1.jpg" title="Parc extérieur 300m²">
                    <img class="img-fluid" src="../static/administration/assets/img/portfolio/thumbnails/park_1.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name">Parc extérieur 300m²</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/administration/assets/img/portfolio/fullsize/park_2.jpg" title="Parc extérieur 300m²">
                    <img class="img-fluid" src="../static/administration/assets/img/portfolio/thumbnails/park_2.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name">Parc extérieur 300m²</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/administration/assets/img/portfolio/fullsize/park_3.jpg" title="Parc extérieur 300m²">
                    <img class="img-fluid" src="../static/administration/assets/img/portfolio/thumbnails/park_3.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name">Parc extérieur 300m²</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/administration/assets/img/portfolio/fullsize/park_4.jpg" title="Parc extérieur 150m²">
                    <img class="img-fluid" src="../static/administration/assets/img/portfolio/thumbnails/park_4.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name">Parc extérieur 150m²</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/administration/assets/img/portfolio/fullsize/park_5.jpg" title="Parc extérieur 150m²">
                    <img class="img-fluid" src="../static/administration/assets/img/portfolio/thumbnails/park_5.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50"></div>
                        <div class="project-name">Parc extérieur 150m²</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Nous contacter !</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Pour toute demande d'hébergement pour votre animal, vous pouvez nous contacter par email avec ce formulaire, ou directement par téléphone au numéro indiqué ci-dessous !</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="9160f77f-e608-4eb0-b8b3-4f24d5b9ed11">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="name">Nom et Prénom</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Votre nom est recquis.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Adresse email</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Votre email est recquis.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Votre email est invalide.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Numéro de téléphone</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Veuillez entrer votre numéro de téléphone.</div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">Veuillez formuler votre demande ici.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Votre demande a bien été prise en compte !</div>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Envoyer</button></div>
                </form>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi-phone-fill fs-2 mb-3 text-muted"></i>
                <div>06.76.18.96.08</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
