{% extends 'administration/base.html' %}

{% block content %}
<!--Importation de la feuille de style personnalisée-->
<link href="../static/administration/css/personnal_styles.css" rel="stylesheet" />
<br><br><br><br><br><br>{% include 'administration/messages.html' %}<br><br>

<!--Parcs extérieurs-->
<h2 class="text-center text-black mt-0">Voici la disponnibilité actuelle des parcs extérieurs :</h2><br>

<div class="flex-container-global">
    <div class="flex-item-square" {% if parks.1.availability %}style = "background-color: green"{%else%}style = "background-color: red"{%endif%}>E2</div>
    <div class="flex-item-square" {% if parks.2.availability %}style = "background-color: green"{%else%}style = "background-color: red"{%endif%}>E3</div>
    <div class="flex-item-unvisible"></div>
    <div class="flex-item-square" {% if parks.6.availability %}style = "background-color: green"{%else%}style = "background-color: red"{%endif%}>E7</div>
    <div class="flex-item-square" {% if parks.7.availability %}style = "background-color: green"{%else%}style = "background-color: red"{%endif%}>E8</div>
</div>
<div class="flex-container-global">
    <div class="flex-item-square" {% if parks.5.availability %}style = "background-color: green"{%else%}style = "background-color: red"{%endif%}>E6</div>
    <div class="flex-container-bloc">
        <div class="flex-item-rectangle" {% if parks.3.availability %}style = "background-color: green"{%else%}style = "background-color: red"{%endif%}>E4</div>
        <div class="flex-item-rectangle" {% if parks.4.availability %}style = "background-color: green"{%else%}style = "background-color: red"{%endif%}>E5</div>
    </div>
    <div class="flex-item-unvisible"></div>
    <div class="flex-item-unvisible"></div>
    <div class="flex-item-unvisible"></div>
</div>
<div class="flex-container-global">
    <div class="flex-item-unvisible"></div>
</div>
<div class="flex-container-global">
    <div class="flex-item-unvisible-rectangle"></div>
    <div class="flex-item-unvisible-rectangle"></div>
    <div class="flex-item-unvisible-rectangle"></div>
    <div class="flex-item-bigrectangle" {% if parks.0.availability %}style = "background-color: green"{%else%}style = "background-color: red"{%endif%}>E1</div>
</div><br>

{%for park in parks%}
    {%if park.name != "I1" and park.name != "I2"%}
        <div class="container my-3">
            <div class="text-center">
                <form action="/parks_availability/" method="post">
                    {% csrf_token %}
                    <input type="number" value="{{park.id}}" name="park" hidden>
                    <input type="submit" class="btn btn-primary col-md-4" value="PARC {{park.name}} : {% if park.availability %}Disponnible{%else%}Indisponnible{%endif%}">
                </form>
            </div>
        </div>
    {%endif%}
{%endfor%}<br><br><br>

<!--Parcs intérieurs-->
<h2 class="text-center text-black mt-0">Voici la disponnibilité actuelle des parcs intérieurs :</h2><br>

<div class="flex-container-global" style="justify-content: right;">
    <div class="flex-item-bigrectangle" {% if parks.9.availability %}style = "background-color: green"{%else%}style = "background-color: red"{%endif%}>I2</div>
</div>
<div class="flex-container-global" style="justify-content: left;">
    <div class="flex-item-bigrectangle" {% if parks.8.availability %}style = "background-color: green"{%else%}style = "background-color: red"{%endif%}>I1</div>
</div><br>

{%for park in parks%}
    {%if park.name == "I1" or park.name == "I2"%}
        <div class="container my-3">
            <div class="text-center">
                <form action="/parks_availability/" method="post">
                    {% csrf_token %}
                    <input type="number" value="{{park.id}}" name="park" hidden>
                    <input type="submit" class="btn btn-primary col-md-4" value="PARC {{park.name}} : {% if park.availability %}Disponnible{%else%}Indisponnible{%endif%}">
                </form>
            </div>
        </div>
    {%endif%}
{%endfor%}<br><br><br>

{% endblock %}
