{% extends 'administration/base.html' %}

{% block content %}
<!--Reservation Page-->
<link href="../static/administration/css/personnal_styles.css" rel="stylesheet" />
<script src="../static/administration/js/my_scripts.js"></script>


<!--Select a client-->
<br><br><br><br><br><br><br><br>

<!--Title and general infos-->
<div class="container px-4 px-lg-5">
    <h2 class="text-center text-dark mt-0">Veuillez sélectionner ou créer un client</h2>
    <hr class="divider"/>
    <br>
</div>

<!--Search Field-->
<div class="input-group" style="width: 50%; margin-left: 25%;">
    <input type="text" class="form-control" placeholder="Rechercher un client" aria-label="client search input field" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-primary" type="button">Rechercher</button>
    </div>
</div>

<br><br><br><br>

<!--add new client button-->
<div class="wrapper">
    <a href="/add_client_form/" class="add_client"><h1>+</h1></a>
    <span class="button_description">Nouveau</span>
</div>

{% if my_favorites %}

    <!--Pagination position-->
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Page {{ my_favorites.number }} sur {{ my_favorites.paginator.num_pages }}</h2>
    </div>

    <!--Client profile-->
    <div>
        <div class="container-fluid text-center p-0">
            <div class="row g-0">

                <!-- On va itérer sur la liste de queryset passée à paginator, et on va afficher les données dans le template-->
                    <div class="col-lg-4 col-sm-12">
                        <a class="portfolio-box" href="../aliment/?query={{favorite.url}}" title="{{favorite.product_name}}">
                            <img class="img-fluid p-4" src="{{favorite.img_url}}" alt="{{favorite.product_name}}" />
                            <div class="portfolio-box-caption">
                                <div class="project-name">{{favorite.product_name}}</div>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </div>

    <!--Pagination-->
    <div class="pagination" style="justify-content: center;">

        <span class="step-links">
            {% if my_favorites.has_previous %}
                <a href="?query={{product_name}}&page=1">&laquo; Première page</a>
                <a href="?query={{product_name}}&page={{ aliments.previous_page_number }}">Précédent</a>
            {% endif %}

            {% if my_favorites.has_next %}
                <a href="?query={{product_name}}&page={{ aliments.next_page_number }}">Suivant</a>
                <a href="?query={{product_name}}&page={{ aliments.paginator.num_pages }}">dernière page &raquo;</a>
            {% endif %}
        </span>

        <span class="current">
            Page {{ my_favorites.number }} sur {{ my_favorites.paginator.num_pages }}
        </span>

    </div>
{% endif %}

<!--Test de la fonction JS d'attribution de l'id client au field et de l'affichage du nom du client sélectionné-->
<button class="btn btn-primary" type="button" onclick="toggleParkSelection(2, 'Célestin Rachid')">test JS function</button>

<form action="/reservation_form/" method="post">
    {% csrf_token %}
    {% csrf_token %}
    {% csrf_token %}
    {% csrf_token %}
    {% csrf_token %}

    <div id="selectedClient" style="display: none;"><h5 id="clientName" class="text-center"></h5>
        {{park_and_client.client_id}}<br><br><br>


        <!--Select park-->
        <div class="container px-4 px-lg-5">
            <h2 class="text-center text-dark mt-0">Veuillez sélectionner un parc :</h2>
            <hr class="divider"/>
            <br><br>
        </div>
        <div class="container col-md-6" style="margin-left: 2%;">
            <p>{{park_and_client.park.label}}</p>
            {{park_and_client.park}}
        </div><br><br><br>

        <!--Title and general infos Dog part-->
        <div class="container px-4 px-lg-5">
            <h2 class="text-center text-dark mt-0">Veuillez fournir les informations suivantes :</h2>
            <hr class="divider"/>
            <br><br><br>
        </div>

        <!--Info dog form-->
        {% for field in dog_1 %}
        <div class="container col-md-6" style="margin-left: 2%;">
            <p>{{ field.label }}</p>
            {{ field }}
        </div><br>
        {% endfor %}<br><br><br>

        <!--Second Chien-->
        <div class="container" style="margin-left: 2%;">
            <button class="btn btn-primary" type="button" onclick="toggleForm('dog2')">Second chien</button>
        </div>
        <div id="dog2" style="display: none;">
            <!--Title and general infos Dog part-->
            <div class="container px-4 px-lg-5">
                <h4 class="text-center text-dark mt-0">Second chien :</h4>
                <hr class="divider"/>
                <br><br><br>
            </div>

            <!--Info dog form-->
            {% for field in dog_2 %}
            <div class="container col-md-6" style="margin-left: 2%;">
                <p>{{ field.label }}</p>
                {{ field }}
            </div><br>
            {% endfor %}<br><br><br>

            <!--Troisième Chien-->
            <div class="container" style="margin-left: 2%;">
                <button class="btn btn-primary" type="button" onclick="toggleForm('dog3')">Troisième chien</button>
            </div>
            <div id="dog3" style="display: none;">
                <!--Title and general infos Dog part-->
                <div class="container px-4 px-lg-5">
                    <h4 class="text-center text-dark mt-0">Troisième chien :</h4>
                    <hr class="divider"/>
                    <br><br><br>
                </div>

                <!--Info dog form-->
                {% for field in dog_3 %}
                <div class="container col-md-6" style="margin-left: 2%;">
                    <p>{{ field.label }}</p>
                    {{ field }}
                </div><br>
                {% endfor %}<br><br><br>

                <!--Quatrième Chien-->
                <div class="container" style="margin-left: 2%;">
                    <button class="btn btn-primary" type="button" onclick="toggleForm('dog4')">Quatrième chien</button>
                </div>
                <div id="dog4" style="display: none;">
                    <!--Title and general infos Dog part-->
                    <div class="container px-4 px-lg-5">
                        <h4 class="text-center text-dark mt-0">Quatrième chien :</h4>
                        <hr class="divider"/>
                        <br><br><br>
                    </div>

                    <!--Info dog form-->
                    {% for field in dog_4 %}
                    <div class="container col-md-6" style="margin-left: 2%;">
                        <p>{{ field.label }}</p>
                        {{ field }}
                    </div><br>
                    {% endfor %}<br><br><br>

                    <!--Cinquième Chien-->
                    <div class="container" style="margin-left: 2%;">
                        <button class="btn btn-primary" type="button" onclick="toggleForm('dog5')">Cinquième chien</button>
                    </div>
                    <div id="dog5" style="display: none;">
                        <!--Title and general infos Dog part-->
                        <div class="container px-4 px-lg-5">
                            <h4 class="text-center text-dark mt-0">Cinquième chien :</h4>
                            <hr class="divider"/>
                            <br><br><br>
                        </div>

                        <!--Info dog form-->
                        {% for field in dog_5 %}
                        <div class="container col-md-6" style="margin-left: 2%;">
                            <p>{{ field.label }}</p>
                            {{ field }}
                        </div><br>
                        {% endfor %}<br><br><br>
                    </div>
                </div>
            </div></div><br><br>
        
        <!--Validation button-->
        <div class="text-center"><input class="btn btn-primary btn-xl" type="submit" value="Enregistrer"></input></div><br><br><br><br>

    </div>
</form>
{% endblock %}
