{% extends 'administration/base.html' %}

{% block content %}
<br><br><br><br><br><br><br><br>


<h4 class="text-center text-black mt-0">Veuillez référencer les informations actuelles associées à votre profil :</h4>
<form action="/update_profile_interface/" method="post"><br>
    {% csrf_token %}

    <!--Old Mail, UserName and Password-->
    {% for field in current_datas %}
        <div class="container my-2">
            {{ field }}
        </div>
    {% endfor %}

    <br><br><br>
    
    <h4 class="text-center text-black mt-0">Veuillez référencer les nouvelles informations à associer à votre profil :</h4><br>
    
    <!--New Mail, UserName and Password-->
    {% for field in new_datas %}
    <div class="container my-2">
        {{ field }}
    </div>
    {% endfor %}

    <div class="container my-5 align-items-center">
        <div class="text-center">
            <input type="submit" value="Confirmer mes modifications" class="btn btn-primary col-md-4">
        </div>
    </div>
</form>

{% endblock %}
